# Скомпилированные бинарники и артефакты Go
/bin/
*.exe
*.test
*.out

# Секреты и переменные окружения
.env
.env.*
secrets.json

# Зависимости Go
# Обычно го-модули не требуют исключения, но иногда полезно для чистки
/vendor/
/pkg/mod/

# Файлы macOS
.DS_Store

# Файлы IDE и редакторов
.idea/
.vscode/
*.swp
*~

# Файлы Docker (если используете локальные volumes)
# volumes/